/* .Projects_Head_typetext{
    color: white;
    font-weight: 600;
    font-size: 50px;
}

.projectnameshead{
    width: 100vw;
    height: 300vh;
    border: 10px solid red;
    color: white;
}

.amazon toi cc{
    width: 100vw;
    height: 100vh;
    border: 10px solid pink;
    color: white;
}
.toi{
    width: 100vw;
    height: 100vh;
    border: 10px solid pink;
    color: white;
}

.cc{
    width: 100vw;
    height: 100vh;
    border: 10px solid pink;
    color: white;
} */


/* -------------------------------------------- */
/* 
.Projects_class{
    width: 100vw;
    height: 100vh;
    background-color: black;
} */

/* .c1{
    background-color: black;
    width: 100vw;
    height: 100vh;
} */


.Projects_class{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows:repeat(2,1fr) ;
    gap: 20px;
}


.item{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: white;
    margin-top: 10px;
    border: 2px solid #ffffff22;
    background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 10px 20px 5px #00000088;
    border-radius: 3.6999999999999993rem;
    backdrop-filter: blur(-52px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    cursor: pointer;

}

.item1{
    grid-column: 1/ 4;
}


.title{
    margin: 55px;
    text-align: center;
    /* display: inline; */
    /* margin: auto; */
    left: 50%;
}

.Description{
    text-align: center;
}


.Link{
    text-align: center;
}



.item::before{
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
  }
   .item:hover{
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before{
      filter: brightness(.5);
      top: -100%;
      left: 200%;
    }
  }


  .Link a{
    color: white;
    text-decoration: none;
  }